* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

nav div a {
  margin: 0 20px;
}

#text {
  width: 100%;
  border-bottom: 1px solid #807d7d;
  border-top: 1px solid #807d7d;
}

#text h2 {
  margin: 0 10px;
  padding: 20px;
  font-weight: lighter;
  color: red;
}

form #first_part, form #second_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  padding: 40px 0;
  font-size: 0.9rem;
}

form .row {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

form .row > input, form .row .srowmid {
  width: 95%;
  height: 30px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/span 2;
}

form .row .heading, form .row .lhow {
  font-weight: 700;
}

form .row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .row > div > input {
  width: 47%;
  height: inherit;
}

form .row .how {
  text-align: left;
  font-size: 0.9em;
}

form .row .lhow {
  -ms-grid-column: 4;
  grid-column: 4;
}

form #second_part {
  height: 70vh;
}

form #second_part :nth-child(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 40px;
}

form #second_part ::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}

form #second_part :-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

form #second_part ::-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

form #second_part ::placeholder {
  color: black;
  font-weight: bold;
}

form #second_part input[type="submit"] {
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  color: white;
  height: 30px;
  padding: 0 5px;
  border-radius: 2px;
}

form #second_part input[type="submit"]:hover {
  background-color: #1e66d8;
}

#last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 60px 60px;
}

#last h3 {
  margin: 10px 0;
}

#last a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#last a:hover {
  text-decoration: underline;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 30px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div p {
  margin: 10px;
}

@media screen and (max-width: 1050px) {
  .how, .lhow {
    display: none;
  }
  form #first_part .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  form #first_part .row .about {
    width: 30%;
  }
  form #second_part {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form #second_part :nth-child(1) {
    padding: 0 10px;
  }
  form #second_part .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form #second_part .row .about {
    width: 30%;
  }
}
/*# sourceMappingURL=advance.css.map */